@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800;900&display=swap');

@font-face {
    font-family: "Zelda";
    src: url(../assets/The-Wild-Breath-of-Zelda.otf)
}

@font-face {
    font-family: "Triforce";
    src: url(../assets/Triforce.ttf);
}

@font-face {
    font-family: "Comfortae";
    src: url(../assets/Comfortaa-Regular.ttf)
}

@keyframes shadowBlue {
    10% {
        box-shadow: 0 0 100px rgba(100, 180, 255, 0.575);
    }
    40% {
        box-shadow: 0 0 100px rgba(255, 255, 255, 0.575);
    }
    80% {
        box-shadow: 0 0 100px rgba(60, 180, 255, 0.575);
    }
    100% {
        box-shadow: 0 0 100px rgba(100, 180, 255, 0.575);
    }
}

:root {
    --font-default: 'Raleway', sans-serif;
    --font-regular: 'Comfortae', sans-serif;
    --font-zelda: 'Zelda', sans-serif;
    --font-triforce: 'Triforce', sans-serif;
}

/* ----- Configurações Gerais ----- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.button {
    background-color: white;
    border: 1px solid black;
    font-weight: 600;
    border-radius: 300px;
    padding: 5px 20px;
    margin: 10px;
    font-size: 0.8em;
    font-family: var(--font-default);
}

.button:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

h2 {
    margin: 10px 0;
    letter-spacing: 0.2em;
    color: skyblue;
    padding-bottom: 10px;
    font-family: var(--font-regular);
}

ul {
    list-style: none;
}

input {
    display: none;
}

a{
    text-decoration: none;
}

.hide {
    display: none;
}

/* ----- Configurações de Cabeçalho ----- */

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 100%;
    background-color: black;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.header-logo img {
    margin-left: 30px;
    height: 2em;
}

.header-menu ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 30px;
    font-family: var(--font-default);
    letter-spacing: 0.07em;
    font-size: 0.8em;
}

.header-menu a {
    color: skyblue;
    text-shadow: 0 0 4px black;
}

.header-menu strong {
    font-size: 1.2em;
}

.header-menu a:hover {
    cursor: pointer;
    color: white;
}


/* ----- Configurações do Início ----- */

.section-inicio {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, black, rgb(0, 0, 80));
    background: url(../assets/retrato-pessoal-panorama-emerald.jpg) left center/cover no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-inicio a {
    background-color: rgba(37, 122, 250, 0.9);
    text-shadow: 0 0 1px white;
    color: whitesmoke;
    font-weight: 400;

    font-family: var(--font-default);
} .section-inicio a:hover {
    background-color: rgba(37, 122, 250, 1);
}

.inicio-content {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inicio-content h1, .inicio-content h2, .inicio-content p {
    padding: 0; margin: 0;
    font-family: var(--font-zelda);
    letter-spacing: 0.06em;
    color: rgb(250, 29, 29);
    text-shadow: 0 0 1px black;
}

.inicio-content h1 {
    background-image: linear-gradient(to top, rgb(95, 196, 236), rgb(221, 221, 221));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    font-family: var(--font-triforce);
    font-size: 3em;
    letter-spacing: 0.1em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.inicio-content p {
    color: rgb(221, 221, 221);
}

.inicio-content h2 {
    font-weight: 400;
}

.fa-arrow-up-from-bracket {
    color: skyblue;
    padding: 10px;
    position: fixed;
    left: 93vw;
    top: 80vh;
    margin-right: 10px;
    font-size: 2em;
    z-index: 1000;
    cursor: pointer;
}


/* ----- Configurações da Secção Sobre ----- */

.section-sobre {
    background: black url("../assets/retrato-pessoal-gruta.jpg") right center/cover no-repeat;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.sobre-content, .slide-box {
    width: 60%;

    color: white;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.9);
    line-height: 1.7em;
    font-size: 1vw;
    font-family: var(--font-regular), var(--font-default);
    text-shadow: 0 0 5px black;

} .sobre-content {
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.sobre-content div {
    margin: 60px 30px;
}

.sobre-content ul {
    list-style: inside;
    font-style: italic;
}


/* ----- Configurações da Secção Habilidades ----- */

.habilidades-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 65vh;
} 

.habilidades-content-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    gap: 20px;
    padding: 10px;
}

.habilidades-content-row label {
    z-index: 10
}

.habilidades-content-box {
    width: 100%;
}

.habilidades-content-box h2 {
    padding: 0; margin: 0;
    color: black;
}

.habilidades-content-box p {
    padding: 10px;
}

.content-box-slider {
    display: flex;
}

.content-box {
    display: none;
    text-align: center;
    width: 100%;
    padding: 30px;
    font-family: var(--font-regular);
        border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.content-box p{
    width: 40%;
    margin: auto;
}

.habilidades-content img {
    width: 4em;
    cursor: pointer;
} .habilidades-content i:hover {
    cursor: pointer;
    transition: 5s;
}

.icons:checked + .content-box{ 
    display: block;
}


/* ----- Configurações da Secção Projetos ----- */

.section-projetos {
    background-color: black;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.section-title {
    color: white;
    font-family: var(--font-regular);
    padding: 5% 30px;
    letter-spacing: 0.5em;
    text-align: center;
    background-color: black;
}

.projetos-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 7px black;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 1px solid white;
    box-shadow: inset 0 0 3px white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}

.bar:hover {
    box-shadow: inset 0 0 25px white;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    transition: .6s;
    padding: 1.6%;
}

.slide img {
    width: 80%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(110, 180, 255, 0.575);
    animation: shadowBlue infinite 10s;
}

.slide-box {
    position: absolute;
    bottom: 25%;
    left: 60%;
    width: 40%;
    padding: 30px;
    padding-bottom: 5%;
    font-family: var(--font-regular);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 10px 0px 0px 10px;
}

.slide-box h2 {
    text-align: center;
}

.slide-box p {
    width: 70%;
    margin: auto;
    text-align: justify;
}

.slide-project-button {
    position: absolute;
    bottom: 30%;
    left: 62%;
} .slide-project-button i {
    width: 100px;
    color: skyblue;
}  .slide-project-button i:hover {
    color: white;
    transition: .5s;
}

#slide1:checked ~ .s1{ 
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

/* ----- Configurações da Secção Contate-me ----- */


.section-contato > .section-title ul {
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 10px;
}

.section-contato > .section-title {
    padding: 0;
    padding-top: 5%;
    padding-bottom: 2%;
    border-bottom: 1px solid rgba(61, 61, 61, 0.527);
}

.section-contato > .section-title a {
    color: white;
} .section-title a:hover {
    color: rgba(0, 255, 255, 0.726);
}


/* ----- Configurações do Rodapé ----- */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: black;
    color: white;
    font-family: var(--font-regular);
    font-size: 0.8em;
}

footer i {
    padding-top: 5px;
    letter-spacing: 0.5em;
    font-size: 0.8em;
}